{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <!-- cross side request forward token : protects the form from certain attacks-->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class=""> Login </legend>
                <!-- {{ form.as_p}} -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="" type="submit">Login</button>
            </div>
        </form>
        <div class="">
            <small>Don't have an Account? <a href="{% url 'register' %}">Register</a></small>
        </div>
    </div>
{% endblock content%}