{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <!-- cross side request forward token : protects the form from certain attacks-->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class=""> Reset Password </legend>
                <!-- {{ form.as_p}} -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content%}