{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <!-- cross side request forward token : protects the form from certain attacks-->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class=""> Join Today</legend>
                <!-- {{ form.as_p}} -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="" type="submit">Register</button>
            </div>
        </form>
        <div class="">
            <small>Already have an Account? <a href="{% url 'login' %}">login</a></small>
        </div>
    </div>
{% endblock content%}